// out: false
h4 {
    font-size: 1.2em;
}

.credit {
    h4 {
        margin-top: 0;
        line-height: 22px;
    }
    p {
        margin-bottom: 0;
    }
}

table {
    width: 100%;
    td {
        width: 50%;
        padding: 5px;
        vertical-align: top;
        white-space: nowrap;
        &:nth-child(1) {
            text-align: right;
        }
        &:nth-child(2) {
            text-align: left;
        }
    }
    h4 {
        text-align: right;
        margin: 10px;
    }
}

.page:last-child {
    margin-bottom: 100vh;
}