<div class="container">
    <div class="page">
        <div class="section">
            <img class="bg" src="https://i.imgur.com/YB1b7rY.jpg" position="50% 50%" />
            <h2>Brahctopus</h2>
            <h3></h3>
            <p>Brahctopus is a jam-rock collective playing originals and covers across many genres. Their debut album, Mothership, was released in February 2019. The album release took place at the Buhl Planetarium of the Carnegie Science Center in Pittsburgh, PA with a live performance and accompanying laser show. Tickets to this event sold out in 56 minutes. Since, the band has released 4 singles and are currently working on a concept album to be released early 2020. Brahctopus also hosts a small festival in Sandy Lake, PA with about 500 attendees and some of Pittsburgh and the regions best up and coming acts. This helps continue to build outstanding relationships with many groups, organizations and fans throughout the region.</p>
        </div>
    </div>
    <div class="page">
        <div class="section">
            <img class="bg" src="https://i.imgur.com/chddKTp.jpg" position="30% 50%" />
            <h2>Ethan Kovalcik</h2>
            <mat-chip-list>
                <mat-chip color="accent" selected>Songwriting</mat-chip>
                <mat-chip color="primary" selected>Lead Vocals</mat-chip>
                <mat-chip>Ukulele</mat-chip>
            </mat-chip-list>
            
            <p>Ethan Kovalcik is a singer, songwriter and ukulelist from East Vandergrift, Pa. Ethan started his music career with some close friends in an acoustic band, 3 Dudes Chillin’, who gained a quick local following in the Greater Pittsburgh area and still play together regularly. In 2012, Ethan co-founded GareFest, a music festival and camp-out, with Garrett Lewis (Gare Bear) and a few other friends. Ever since, GareFest has become a highly sought after performance location for many Pittsburgh and regional bands. In 2015, while attending the CCAC college of music, Ethan met some classmates who began jam sessions after their studies leading to the formation of Brahctopus. After a few years of cycling through some great musicians and original material, Brahctopus found their sound and Ethan’s songs started to take form a way he never imagined but always dreamed.</p>
        </div>
    </div>
    <div class="page">
        <div class="section">
            <img class="bg" src="https://i.imgur.com/cxgEhpC.jpg" position="100% 50%" />
            <h2>John Wilcox</h2>
            <mat-chip-list>
                <mat-chip>Electric Guitar</mat-chip>
                <mat-chip>Vocals</mat-chip>
            </mat-chip-list>
            <p>John Wilcox is a musician from the south hills of Pittsburgh. After studying sound recording and jazz guitar at Duquesne University, John began producing and performing with Pittsburgh artists November Blue, Nevin James, and The Frequent Flyers Club. In the fall of 2018, fellow Duquesne classmates Travis Butler and Austin Ostiguy approached John about adding his overdriven guitar and vocal harmonies to the upcoming Brahctopus album “Mothership”</p>
        </div>
    </div>
    <div class="page">
        <div class="section">
            <img class="bg" src="https://i.imgur.com/dmnA1HI.jpg" position="50% 30%" />
            <h2>Nikola Svitek</h2>
            <mat-chip-list>
                <mat-chip>Acoustic Guitar</mat-chip>
                <mat-chip>Vocals</mat-chip>
            </mat-chip-list>
            <p>Nick Svitek began his musical journey at age 5 taking piano lessons.  Growing up in Natrona Heights PA as part of a large family that is always playing music, he is familiar with many different instruments and genres. Nick progressed to the trumpet in grade school, then to the tuba/sousaphone throughout middle school and high school, where he was selected each year to play in the Alle-Kiski honors band.  As his musical interests continued to grow, he explored multiple genres throughout the Pittsburgh music scene, where he has played a variety of instruments such as: guitar, bass, percussion, trumpet, piano, and synths, in styles ranging from punk to blues to reggae and a bunch in between.  Nick has played various roles in the Pittsburgh based acts BlitheHound and Red Room Effect before being approached to join Brahctopus in 2016.</p>
        </div>
    </div>
    <div class="page">
        <div class="section">
            <img class="bg" src="https://i.imgur.com/mFTvdyg.jpg" position="90% 50%" />
            <h2>Jared Dray</h2>
            <mat-chip-list>
                <mat-chip>Keyboards</mat-chip>
            </mat-chip-list>
            <p>Jared Dray is a musician hailing from Uniontown, Pa. After honing his craft on classical, gospel and the blues he broke into the music scene with The YJJs. After a couple of years in the music scene he then joined the ranks of Brahctopus, drawn to the originality and DIY work ethic the band has built their reputation on. When Dray is not getting squiggly with the brahs, he can be found slaying keys with Stationary Pebbles. Some believe Dray might be a wizard.</p>        
        </div>
    </div>
    <div class="page">
        <div class="section">
            <img class="bg" src="https://i.imgur.com/yGu5sKY.jpg" position="40% 50%" />
            <h2>Austin Ostiguy</h2>
            <mat-chip-list>
                <mat-chip color="primary" selected>Producing</mat-chip>
                <mat-chip>Keyboards</mat-chip>
                <mat-chip>Vocals</mat-chip>
            </mat-chip-list>
            <p>Austin Ostiguy is a producer and music director from North Kingstown, Rhode Island. Austin came to Pittsburgh to study music production and Jazz trumpet at Duquesne University, and since his graduation he has settled into the local music scene taking on a variety of creative projects. Most notably, Austin is the keyboard player and Music Director for country artist Justin Fabus, having joined the singer on two annual tours including shows in areas such as Nashville, Chicago, Washington D.C. and Cleveland. In 2018, Austin was approached by bandmate Travis Butler to co-produce Brahctopus, adding rich vocal harmonies and electric keytar riffs. As the 7th tentacle, Austin completes the new-and-improved Brahctopus lineup – a force to be reckoned with on the highly-anticipated debut album “Mothership.”</p>        
        </div>
    </div>
    <div class="page">
        <div class="section">
            <img class="bg" src="https://i.imgur.com/C5EVvfo.jpg" position="85% 50%" />
            <h2>Karl Kroll</h2>
            <mat-chip-list>
                <mat-chip color="primary">Bass</mat-chip>
            </mat-chip-list>
            <p>Karl Kroll, originally from Bethel Park, PA,  has been playing and establishing himself across the Pittsburgh region for several years. His adventures in music began at a young age; playing in several school ensembles and diving into jazz in high school. Years later, he has become adept in the arena of stringed instruments, specializing in the bass guitar. Karl (Karlos) began jamming with Brahctopus early in 2016 and has never looked back. When he’s not keeping it squiggly, you’ll find him deep in the forest, pondering life’s greatest mysteries.</p>        
        </div>
    </div>
    <div class="page">
        <div class="section">
            <img class="bg" src="https://i.imgur.com/iFwgkln.jpg" position="80% 50%" />
            <h2>Travis Butler</h2>
            <mat-chip-list>
                <mat-chip color="accent" selected>Recording</mat-chip>
                <mat-chip color="warn" selected>Mastering</mat-chip>
                <mat-chip color="primary" selected>Producing</mat-chip>
                <mat-chip>Drums</mat-chip>
            </mat-chip-list>
            <p>Travis Butler grew up in Bethel Park, PA and began drumming during his time at Memorial Elementary School. He hasn’t stopped since, pursuing percussion and sound recording technology through his recent graduation from Duquesne University’s Mary Pappert School of Music. Travis joined Brahctopus in 2017 through his former high school classmate, Karl Kroll. In addition to playing the drums, Travis also engineered and produced “Mothership”.</p>
        </div>
    </div>
    <div class="page">
        <div class="credits section">
            <video class="bg" src="https://www.brahctopus.com/assets/mp4/brahctopus-plotagraph.mp4"></video>
            <h2>Full Credits</h2>
            <table>
                <tbody>
                    <tr>
                        <td><h4>Ethan Kovalcik</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip color="accent" selected>Songwriting</mat-chip>
                                <mat-chip color="primary" selected>Lead Vocals</mat-chip>
                                <mat-chip>Ukulele</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>John Wilcox</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>Electric Guitar</mat-chip>
                                <mat-chip>Vocals</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Nikola Svitek</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>Acoustic Guitar</mat-chip>
                                <mat-chip>Vocals</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Jared Dray</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>Keyboards</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><h4>Austin Ostiguy</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip color="primary" selected>Producing</mat-chip>
                                <mat-chip>Keyboards</mat-chip>
                                <mat-chip>Vocals</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Karl Kroll</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip color="primary">Bass</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Travis Butler</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip color="accent" selected>Recording</mat-chip>
                                <mat-chip color="warn" selected>Mastering</mat-chip>
                                <mat-chip color="primary" selected>Producing</mat-chip>
                                <mat-chip>Drums</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Zack Shahen</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip color="primary">Lead Vocals [Eternity]</mat-chip>
                                <mat-chip>Vocals</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Ryan Yingst</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>Electric Guitar [Eternity]</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Karli Blotzer</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip color="primary">Lead Vocals [Eternity]</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Christie McKernan</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>Vocals [Don't Be Late]</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Yuki Takeda</h4></td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>Whistling [Subconscious Traveling]</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="credit">
                <p>Artwork / Design:</p>
                <h4>Jason Price</h4>
            </div>
            <div class="credit">
                <p>Photography / Videography</p>
                <h4>Zack Shahen</h4>
            </div>
            <div class="credit">
                <p>Website:</p>
                <h4>
                    Sam Underwood
                </h4>
            </div>
            <div class="credit">
                <p>Apps</p>
                <h4>Sam Underwood</h4>
            </div>
            <div class="credit">
                <p>Audio Visualizers:</p>
                <h4>Sam Underwood</h4>
            </div>
            <div class="credit">
                <p>Video Game:</p>
                <h4>
                    Todd Schmersal
                </h4>
            </div>
            <div class="credit">
                <p>Composed by:</p>
                <h4>Brahctopus</h4>
            </div>
            <div class="credit">
                <p>Lyrics by:</p>
                <h4>
                    Ethan Kovalcik
                    <br>
                    Zack Shahen [Eternity]
                    <br>
                    Karli Blotzer [Eternity]
                </h4>
            </div>
            <div class="credit">
                <p>Produced by:</p>
                <h4>
                    Travis Butler
                    <br>
                    Austin Ostiguy
                </h4>
            </div>
            <div class="credit">
                <p>Recording Engineer:</p>
                <h4>Travis Butler</h4>
            </div>
            <div class="credit">
                <p>Mastering Engineer:</p>
                <h4>Travis Butler</h4>
            </div>
        </div>
    </div>
</div>