<div class="container">
    <label for="Name">Name: </label>
    <input id="Name" name="Name" type="text" />
    <label for="Email">Email: </label>
    <input id="Email" name="Email" type="email" />
    <label for="Subject">Subject: </label>
    <input id="Subject" name="Subject" type="text" />
    <label for="Message">Message: </label>
    <textarea id="Message" name="Message"></textarea>
    <button>Send</button>
    <address>
        <a href="mailto:brahctopus@gmail.com" target="_blank">brahctopus@gmail.com</a>
    </address>
    <div class="links">
        <a href="//facebook.com/brahctopusband" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="//instagram.com/brahctopus" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="//www.youtube.com/channel/UCWGVAYsHVAvD2U77-Q_EugA" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
    </div>
</div>