// out: false

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5%;
    padding-left: ~"calc(5% + 60px)";
}

i {
    padding: 0 5px;
}

@media (orientation: portrait) {
    input, textarea {
        padding-left: 5%;
    }
}