<div class="container">
    <div class="vis">
        <img class="bg" src="https://i.imgur.com/L2tFKN8.jpg" position="50% 50%" />
        <h1>Visualizers</h1>
        <h2>Channel</h2>
        <p>Remember to like and subscribe!</p>
        <a href="https://www.youtube.com/channel/UCThq5LcMaofJqx0emzWMLgA" target="_blank"><img class="sunder" src="https://i.imgur.com/cxiJdRZ.png" /></a>
        <h2>2D <a href="">Playlist</a></h2>
        <div class="vis-grid">
            <iframe src="https://www.youtube.com/embed/CEHM2tFNQVw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/FrXSu7RebKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            <iframe src="https://www.youtube.com/embed/BDt-mOmtv3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h2>360° <a href="">Playlist</a></h2>
        <div class="vis-grid">
            <iframe src="https://www.youtube.com/embed/o1ZwQtpi5Fg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/rr_zoSjqg_k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/0PoBGeGjpIc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>