<div class="container">
    <div class="page">
        <img class="bg" src="https://i.imgur.com/L2tFKN8.jpg" position="50% 50%" />
        <div class="channel section">
            <h1>Audio Visualizers</h1>
            <h2>Channel</h2>
            <a href="https://www.youtube.com/channel/UCThq5LcMaofJqx0emzWMLgA" target="_blank">
                <img class="sunder" src="https://i.imgur.com/cxiJdRZ.png" />
            </a>
            <p>Remember to like and subscribe!</p>
        </div>
    </div>
    <div class="page">
        <img class="bg" src="https://i.imgur.com/trF3xoG.jpg" position="50% 50%" />
        <div class="section">
            <h2>2D</h2>
            <a href="https://www.youtube.com/playlist?list=PLHSK04x2gyOShbTgxOP4ieFBjD04KL0nn" target="_blank" mat-raised-button color="primary">Playlist</a>
            <div class="grid">
                <iframe src="https://www.youtube.com/embed/CEHM2tFNQVw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/FrXSu7RebKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
                <iframe src="https://www.youtube.com/embed/BDt-mOmtv3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="section">
            <h2>360°</h2>
            <a href="https://www.youtube.com/playlist?list=PLHSK04x2gyOTyral2ZunzJuQKsonHvV2R" target="_blank" mat-raised-button color="accent">Playlist</a>
            <div class="grid">
                <iframe src="https://www.youtube.com/embed/o1ZwQtpi5Fg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/rr_zoSjqg_k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/0PoBGeGjpIc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>