<div class="alerts" *ngIf="this.alert">
    <div *ngIf="!this.alert.disabled" class="alert {{ this.alert.alertClass }}" [style.z-index]="i">
        <p *ngIf="this.alert.message" title="{{ this.alert.message }}">{{ this.alert.message }}</p>
        <span *ngIf="this.alert.acceptText">
            <button class="accept" *ngIf="this.alert.accept else acceptNone" (click)="this.alert.accept()" (click)="dismiss(this.alert.alertId, 1)"><i class="fas fa-check"></i>{{ this.alert.acceptText }}</button>
            <ng-template #acceptNone>
                <button class="accept" (click)="dismiss(this.alert.alertId, 1)"><i class="fas fa-check"></i>{{ this.alert.acceptText }}</button>
            </ng-template>
        </span>
        <span *ngIf="this.alert.infoText">
            <button class="info" *ngIf="this.alert.info else infoNone" (click)="this.alert.info()" (click)="dismiss(this.alert.alertId, 2)"><i class="fas fa-info"></i>{{ this.alert.infoText }}</button>
            <ng-template #infoNone>
                <button class="info" (click)="dismiss(this.alert.alertId, 2)"><i class="fas fa-info"></i>{{ this.alert.infoText }}</button>
            </ng-template>
        </span>
        <span *ngIf="this.alert.linkText">
            <button class="action" *ngIf="this.alert.link else linkNone" (click)="this.alert.link()" (click)="dismiss(this.alert.alertId, 3)"><i class="fas fa-link"></i>{{ this.alert.linkText }}</button>
            <ng-template #linkNone>
                <button class="action" (click)="dismiss(this.alert.alertId, 3)"><i class="fas fa-link"></i>{{ this.alert.linkText }}</button>
            </ng-template>
        </span>
        <span *ngIf="this.alert.rejectText">
            <button class="reject" *ngIf="this.alert.reject else rejectNone" (click)="this.alert.reject()" (click)="dismiss(this.alert.alertId, 4)"><i class="fas fa-times"></i>{{ this.alert.rejectText }}</button>
            <ng-template #rejectNone>
                <button class="reject" (click)="dismiss(this.alert.alertId, 4)"><i class="fas fa-times"></i>{{ this.alert.rejectText }}</button>
            </ng-template>
        </span>
    </div>
</div>
