.bar {
  font-size: 18px;
  color: var(--fore);
  background-color: var(--back);
}
#app-bars-left {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  width: 100vw;
  max-width: 500px;
  height: calc(100vh - 50px);
  padding: 20px;
  transition: transform 300ms;
  z-index: 300;
}
#app-bars-left.open {
  transform: translateX(0%);
}
