<nav [class.open]="this.isOpen">
    <div class="wrap">
        <div class="head" (click)="this.isOpen = !this.isOpen">
            <button class="toggle"><span></span><p>rahctopus</p></button>
        </div>
        <div class="links">
            <ul>
                <!--li>
                    <a routerLink="/store/" routerLinkActive="active">
                        <i class="fas fa-cash-register"></i>Store
                    </a>
                </li-->
                <li>
                    <a routerLink="/enter-the-mothership/" routerLinkActive="active">
                        <i class="fas fa-gamepad"></i>Enter the Mothership
                    </a>
                </li>
                <li>
                    <a routerLink="/music/" routerLinkActive="active">
                        <i class="fab fa-itunes-note"></i>Music
                    </a>
                </li>
                <li>
                    <a routerLink="/visualizer/" routerLinkActive="active">
                        <i class="fas fa-meteor"></i>Visualizer
                    </a>
                </li>
                <!--li>
                    <a routerLink="/photos/" routerLinkActive="active">
                        <i class="fas fa-camera"></i>Photos
                    </a>
                </li-->
                <li>
                    <a routerLink="/about/" routerLinkActive="active">
                        <i class="far fa-address-card"></i>About Brahctopus
                    </a>
                </li>
                <!--li>
                    <a routerLink="/rise-of-locus/" routerLinkActive="active">
                        <i class="fas fa-book"></i>The Rise of Locus
                    </a>
                </li-->
                <li>
                    <a routerLink="/electronic-press-kit/" routerLinkActive="active">
                        <i class="far fa-newspaper"></i>Electronic Press Kit
                    </a>
                </li>
                <li>
                    <a routerLink="/contact/" routerLinkActive="active">
                        <i class="fas fa-phone"></i>Contact Us
                    </a>
                </li>
                <!--li>
                    <a routerLink="/subscribe/" routerLinkActive="active">
                        <i class="fas fa-envelope"></i>Subscribe
                    </a>
                </li-->
            </ul>    
        </div>
    </div>
</nav>